doctype html
html(lang='it')
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Custom Object Table

    a(href='/update-cobj') Add to this table

    table
      thead
        tr
          th Name
          th Ingredienti
          th Prezzo
      tbody
        each pizza in pizze
          tr
            td= pizza.properties.name
            td= pizza.properties.ingredienti
            td= pizza.properties.prezzo
